a{
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: blue;
    background:#8db8dd !important;
    text-decoration: none;
}

.nav-caption{
    display: inline-block;
    padding-left: 6px;
}